{{#each article}}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <a href={{this.link}}>
                    <h4>{{this.title}}</h4>
                </a>
                <p class="lead">{{this.description}}</p>
                <a class="btn btn-outline-primary" href="link" role="button">
                    Save
                </a>
                <a class="btn btn-outline-primary" href="link" role="button">
                    Comment
                </a>
            </div>
        </div>
    </div>
    <br>
{{/each}}







