

<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-4">
      <b>Sports Scraper</b>
      </h1>
  <p class="lead">Get the latest sports stories from the Associated Press!</p>
</div>

<h2>Your Saved Sports Stories</h2>

